<div class="craving-content">
  <div class="profile-container">
    <%= cl_image_tag @user.avatar, class: "avatar-large"  %>
    <h2><%= @user.name %></h2>
  </div>

  <p><%= @dishes.count %> <strong> dishes posted </strong> <br></p>

<div class="saved-posts">
 <ul class="list-inline tabs-underlined">
  <li>
    <a href="../my_profile" class="tab-underlined">All saved</a>
  </li>
  <li>
    <a href="#" class="tab-underlined active">My posts</a>
  </li>
</ul>
</div>
  </div>
  <% @dishes.each do |dish| %>
</div>
   <%= link_to dish_path(dish) do %>
    <div class="craving-dish-search" style="background-image: url(<%= cl_image_path dish.photo %>)">
    </div>
    <div class="craving-dish-info">
      <div class= "info">
        <h5 class= "name">
          <strong><%= dish.name %></strong>
        </h5>
        <p class= "name"><%= dish.restaurant.name %></p>
      </div>
      <div class= "info">
        <p class="rating" style="font-size: 12px; text-align: right;">
          <strong><%= dish.rating %></strong>
         <% if dish.rating > 4.7 %>
          <i class="fas fa-star checked"></i><i class="fas fa-star checked"></i><i class="fas fa-star checked"></i><i class="fas fa-star checked"></i><i class="fas fa-star checked"></i>
        <% elsif dish.rating > 4.2 %>
          <i class="fas fa-star checked"></i><i class="fas fa-star checked"></i><i class="fas fa-star checked"></i><i class="fas fa-star checked"></i><i class="fas fa-star-half-alt"></i>
        <% elsif dish.rating > 3.7 %>
          <i class="fas fa-star checked"></i><i class="fas fa-star checked"></i><i class="fas fa-star checked"></i><i class="fas fa-star checked"></i><i class="far fa-star"></i>
        <% elsif dish.rating > 3.2 %>
          <i class="fas fa-star checked"></i><i class="fas fa-star checked"></i><i class="fas fa-star checked"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i>
        <% elsif dish.rating > 2.7 %>
          <i class="fas fa-star checked"></i><i class="fas fa-star checked"></i><i class="fas fa-star checked"></i><i class="far fa-star"></i><i class="far fa-star"></i>
        <% elsif dish.rating > 2.2 %>
          <i class="fas fa-star checked"></i><i class="fas fa-star checked"></i><i class="fas fa-star-half-alt"></i></i><i class="far fa-star"></i><i class="far fa-star"></i>
        <% elsif dish.rating > 1.7 %>
          <i class="fas fa-star checked"></i><i class="fas fa-star checked"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
        <% elsif dish.rating > 1.2 %>
          <i class="fas fa-star checked"></i><i class="fas fa-star-half-alt"></i><<i class="far fa-star"></i></i><i class="far fa-star"></i><i class="far fa-star"></i>
        <% else %>
           <i class="fas fa-star checked"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
        <% end %>

          <!-- YOUR RATING
           -->
        </p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
