<div class="craving-content">
  <div class="profile-container">
    <%= cl_image_tag @user.avatar, class: "avatar-large"  %>
    <h2><%= @user.name %></h2>
  </div>

  <p><%= @dishes.count %> <strong> dishes posted </strong> <br></p>

<div class="saved-posts">
 <ul class="list-inline tabs-underlined">
  <li>
    <a href="../my_profile" class="tab-underlined">All saved</a>
  </li>
  <li>
    <a href="#" class="tab-underlined active">My posts</a>
  </li>
</ul>
</div>
  </div>
   <div class="grid-container-profile">
  <% @dishes.each do |dish| %>
      <div class="grid-block">
    <%= link_to dish_path(dish) do %>
      <div class="craving-dish-search" style="background-image: url(<%= cl_image_path dish.photo %>)">
        <img class="craving-dish-search" src="<%= cl_image_path dish.photo %>" alt="" style="height: 100; width: 100%">
  <div class="dish-info-card">
   </div>
      </div>
      <div class="craving-dish-info">
        <div class= "info">
          <h5 class= "name"><strong><%= dish.name %> ( <%=dish.price %> € )</strong></h5>
          <p class= "name"><%= dish.restaurant.name %></p>
        </div>
          <div class= "info">
            <h5 class="rating"><strong><%= dish.rating.to_d.round(1, :truncate).to_f %></strong>
              <%= render 'dishes/rating', rating: dish.rating %>
            </h5>
              <h5 class="distance">
                <%= distance_to_user(@user_location, dish.restaurant) %>
              </h5>
            <% end %>
            </div>
          </div>
        </div>
      <% end %>
      </div>
  </div>
</div>
