<div class="craving-content">
  <div class="profile-container">
    <%= cl_image_tag @user.avatar, class: "avatar-large"  %>
    <h2><%= @user.name %></h2>
  </div>

  <p><%= @favorites.count %> <strong> dishes saved </strong> <br></p>

<div class="saved-posts">
 <ul class="list-inline tabs-underlined">
  <li>
    <a href="#" class="tab-underlined active">All saved</a>
  </li>
  <li>
    <a href="/my_profile/my_posts" class="tab-underlined">My posts</a>
  </li>
</ul>
</div>
  </div>
  <% @favorites.each do |favorite| %>
</div>
   <%= link_to dish_path(favorite.dish) do %>
    <div class="craving-dish-search" style="background-image: url(<%= cl_image_path favorite.dish.photo %>)">
    </div>

    <div class="craving-dish-info">
      <div class= "info">
        <h5 class= "name">
          <strong><%= favorite.dish.name %></strong>
        </h5>
        <p class= "name"><%= favorite.dish.restaurant.name %></p>
      </div>
      <div class= "info">
        <p class="rating" style="font-size: 12px; text-align: right;">
          <strong><%= favorite.dish.rating.to_d.round(1, :truncate).to_f %></strong>
           <%= render 'dishes/rating', rating: favorite.dish.rating %>
          <!-- YOUR RATING
           -->
        </p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
