<div class="crave-container">
  <div class="craving-content">
    <div class="load-form">
    <h2>Upload dish</h2>
<!-- new restaurant form -->
    <%= simple_form_for @restaurant_dish_form do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :restaurant_name,
                    required: true,
                    value: "La Real Hamburguesería"
        %>
        <%= f.input :restaurant_address,
                    required: true
        %>

        <%= f.input :dish_name,
                    required: true
        %>
        <%= f.input :dish_rating,
                    required: true
        %>
        <%= f.input :dish_price,
                    required: true
        %>
        <%= f.input :dish_category,
                    required: true
        %>
        <%= f.input :dish_photo, as: :file %>
        <%= f.input :dish_photo_cache, as: :hidden %>
      </div>
        <div class="form-actions">
          <%= f.button :submit, "Upload Dish", class: "crave-button-primary-lg" %>
        </div>
      <% end %>

    </div>
  </div>
</div>
