
<div id="places-api"></div>
<div class="crave-container">
  <div class="craving-content">
    <div class="load-form">
    <h2>Upload dish</h2>
<!-- new restaurant form -->
    <%= simple_form_for @restaurant_dish_form do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :restaurant_name,
                    required: true, input_html: { class: "resto-input" }
        %>
        <input type="hidden" name="restaurant_dish_form[restaurant_data]" value="" id="restaurant_api_data">

        <ul id="results">
        </ul>
        <%= f.input :dish_name,
                    required: true
        %>
        <%= f.input :dish_price,
                    required: true
        %>
        <%= f.input :dish_category,
                    required: true
        %>

        <div class= "avatar-btn">
          <div class="form-group file optional user_avatar form-group-valid">
             <label class="file optional" for="restaurant_dish_form_dish_photo">Choose photo</label> <br>
            <label class="file optional" for="restaurant_dish_form_dish_photo"> <h5><i class="fas fa-camera"></i></h5></label>
            <%= f.input :dish_photo,
                        required: true, as: :file, label: false
            %>
            <%= f.input :dish_photo_cache,
                        required: true, as: :hidden
            %>
        </div>
      </div>
        <div class="form-actions">
          <%= f.button :submit, "Upload dish", class: "crave-button-primary-lg" %>
        </div>
      <% end %>

    </div>
  </div>
</div>

