<style>
  #results {
      background: white;
      color: black;
      list-style: none;
      border-radius: 4px;
      margin-top: -15px;
      padding-left: 0px;
  }
  #results li {
    padding: 2px 16px;
    font-size: 1rem;
  }
  #results li:hover {
    background: lightgrey;
  }
</style>
<div id="places-api"></div>
<div class="crave-container">
  <div class="craving-content">
    <div class="load-form">
    <h2>Upload dish</h2>
<!-- new restaurant form -->
    <%= simple_form_for @restaurant_dish_form do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :restaurant_name,
                    required: true, input_html: { class: "resto-input" }
        %>
        <input type="hidden" name="restaurant[place_id]" value="" id="restaurant_place_id">
        <ul id="results">
        </ul>
        <label for="restaurant_address">Restaurant address</label>
          <%= f.text_field :restaurant_address,
                      class: "form-control",
                      id: "address",
                      required: true
          %>
        <%= f.input :dish_name,
                    required: true
        %>
        <%= f.input :dish_price,
                    required: true
        %>
        <%= f.input :dish_category,
                    required: true
        %>

        <div class= "avatar-btn">
          <div class="form-group file optional user_avatar form-group-valid">
             <label class="file optional" for="restaurant_dish_form_dish_photo">Choose photo</label> <br>
            <label class="file optional" for="restaurant_dish_form_dish_photo"> <h5><i class="fas fa-camera"></i></h5></label>
            <%= f.input :dish_photo,
                        required: true, as: :file, label: false
            %>
            <%= f.input :dish_photo_cache,
                        required: true, as: :hidden
            %>
        </div>
      </div>
        <div class="form-actions">
          <%= f.button :submit, "Upload dish", class: "crave-button-primary-lg" %>
        </div>
      <% end %>

    </div>
  </div>
</div>

