<div class="home-container" style= "background-image: url(<%= image_path 'bg.jpg' %>) ">
  <div class="home-content" >
    <h1 style= "margin-bottom: 40px">Crave it.<br>Discover it.<br>Taste it.</h1>
    <p>Discover the best dishes near you.</p>
    <%= form_tag search_dishes_path, method: :get do %>
      <%= text_field_tag :address,
        params[:address],
        class: "search-bar",
        id: "address",
        placeholder: "Type your location",
        value: "Barcelona"
      %>
      <%= text_field_tag :distance,
        params[:distance],
        value: 20,
        hidden: true,
        id: "distance"
      %>
      <%= text_field_tag :price,
        params[:price],
        value: 500,
        hidden: true,
        id: "price"
      %>
      <%= button_tag hidden:true %>
      <% end %>
  </div>
</div>
