<div class="search-form">
  <%= form_tag search_dishes_path, method: :get do %>
  <%= text_field_tag :address,
  params[:address],
  value: @address,
  hidden: true,
  id: "dish"
  %>
  <%= text_field_tag :distance,
  params[:distance],
  value: @distance,
  hidden: true,
  id: "dish"
  %>
  <%= text_field_tag :dish,
  params[:dish],
  class: "search-bar",
    id: "dish",
    placeholder: "Search by dish"
    %>
    <%= button_tag hidden:true
    %>
    <% end %>
</div>
  <div class="craving-content" style="padding-top: 88px;">
      <div class="filter">
        <p><strong><%= @count %> dishes near <%= @address %></strong></p>
          <div class="nav-item dropdown">
            <img data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="filter-image" src="<%= image_path 'filter.jpg' %>"/>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">

                <%= form_tag search_dishes_path, method: :get do %>
                <%= text_field_tag :address,
                  params[:address],
                  value: @address,
                  id: "dish",
                  hidden: true
                %>
                <%= text_field_tag :dish,
                  params[:dish],
                  value: @dish,
                  id: "dish",
                  hidden: true
                %>
                <%= label_tag 'Price'%>
                  <input type="range" id="start" name="price"
                  min="10" max="40">
                <%= label_tag 'Distance'%>
                  <input type="range" id="start" name="distance"
                  min="10" max="40">
                  <%#= range_field_tag(:distance, value: @distance, options = {5, 10, 20, 30, 50})
                  # params[:distance],
                  # id: "dish")
                %>
                <%= button_tag hidden:true %>
                <% end %>
              </div>
          </div>
       </div>
    </div>
      <%= link_to map_dishes_path(address: params[:address], dish: params[:dish]) do %>
      <div class="map-av">
        <div>
          <h3><i class="fas fa-map-marker-alt"></i></h3>
        </div>
      </div>
    <% end %>
  </div>
  <% @dishes.each do |dish| %>
    <%= link_to dish_path(dish) do %>

    <div class="craving-dish-search" style="background-image: url(<%= cl_image_path dish.photo %>)">

    </div>
    <div class="craving-dish-info">
      <div class= "info">
        <h5 class= "name"><strong><%= dish.name %></strong></h5>
        <p class= "name"><%= dish.restaurant.name %></p>
      </div>
        <div class= "info">
          <h5 class="rating"><strong><%= dish.rating.to_d.round(1, :truncate).to_f %></strong>
            <%= render 'dishes/rating', rating: dish.rating %>
          </h5>
            <h5 class="distance">
              <%= distance_to_user(@user_location, dish.restaurant) %>
            </h5>
          <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

</div>


