
<div class="craving-dish-search large-card" style=" background-image: url(<%= image_path 'wafles.jpeg' %>)">

<div class="dish-info-card">
  <div>
    <div>
      <h5 class="dish-info"><strong><%= @dish.name %></strong></h5>
    </div>
    <div>
      <p class="dish-rate"><strong><%= @dish.rating %></strong> <i class="fas fa-star checked"></i><i class="fas fa-star checked"></i><i class="fas fa-star checked"></i><i class="fas fa-star checked"></i><i class="fas fa-star"></i></p>
    </div>
  </div>
  <div>
    <h5><strong><i class="far fa-bookmark"></i></strong></h5>
  </div>
</div>
</div>
<div class="craving-content">
  <div class="resto">
    <div class="resto-content">
     <%= link_to restaurant_path(@dish.restaurant_id) do %>
    <img src="<%= image_path 'wafles.jpeg' %>" alt="" style= "width: 40px; height: 40px; object-fit: cover; object-position: center; margin-right: 6px;">
    <div>
        <p class="resto-name"><strong><%= @dish.restaurant.name %></strong></p>
      <% end %>
        <p class="resto-name">$$</p>
    </div>
    </div>
    <div>
      <button class="crave-button-primary"><%= link_to "Get the dish", restaurant_path(@dish.restaurant_id) %></button>
    </div>
  </div>
</div>

<div class="craving-content">
  <div class="review-head">
    <p><strong>Reviews (<%= @count %>)</strong></p>
    <a href="/">Tried it? Rate it now!</a>
  </div>
  <% @reviews.each do |review| %>
  <img class="avatar-bordered dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="<%= cl_image_path review.user.avatar %>" />
  <p><%= review.user.name %></p>
  <p class="dish-rate"><strong><%= review.rating %></strong> <i class="fas fa-star checked"></i><i class="fas fa-star checked"></i><i class="fas fa-star checked"></i><i class="fas fa-star checked"></i><i class="fas fa-star"></i></p>
  <p><%= review.content %></p>
  <% end %>
</div>
