
<div class="craving-dish-search large-card" style="background-image: url(<%= image_path 'wafles.jpeg' %>)">

<div class="dish-info-card">
  <div>
    <h5 class="dish-info"><strong><%= @dish.name %></strong></h5>
    <p class="dish-info"><strong><%= @dish.rating %></strong>  <i class="fas fa-star checked"></i><i class="fas fa-star checked"></i><i class="fas fa-star checked"></i><i class="fas fa-star checked"></i><i class="fas fa-star "></i></p>
  </div>
  <div>
    <p><i class="far fa-bookmark"></i></p>
  </div>
</div>
</div>
<%= link_to restaurant_path(@dish.restaurant_id) do %>
  <p class= "name"><%= @dish.restaurant.name %></p>
<% end %>
