<div class="show-page">
<div class="craving-dish-search resto-rate-container" style="background-image: url(<%= cl_image_path @restaurant.photo %>)">
    <p><strong><%= @restaurant.average_rating.to_d.round(1, :truncate).to_f %></strong>
      <%= render 'dishes/rating', rating: @restaurant.average_rating %>
    </p>
</div>

  <div class="buttons-resto">
    <a href="https://www.eltenedor.es/ciudad/barcelona/41710?cc=16774-c1d&gclid=CjwKCAjw8-LnBRAyEiwA6eUMGsLVuuVfmq3JWc9WGNgmHzZzNmcI1vmT4mT8ze1ziYANtLpvcfsPkxoCQGIQAvD_BwE" target="_blank" class="crave-button-primary"id="button-resto">
      <p class="el-tenedor button-restaurant" >
      <%= image_tag "eltenedor.png" %> Book a table
    </p>
    </a>
    <a href="https://deliveroo.es/es/menu/barcelona/el-barri-gotic/la-central-new" target="_blank" class="crave-button-secondary"id="button-resto">
      <p class="deliveroo button-restaurant" >
      <%= image_tag "deliveroo.png" %> Order in
    </p>
    </a>
  </div>

<!-- FIN LINK TO EL TENEDOR / DELIVEROO -->
<div class="craving-dish-info" style="margin-top: 32px;">
  <div class="info">
  <p class="resto-name"><strong><%= @restaurant.name %></strong></p>
  <p><%= @restaurant.address %></p>
  </div>
<div class= "info">
   <%= render 'dishes/price_range', price_range:@restaurant.price_range %>
       <h5 class="distance">
              <%= distance_to_user(@user_location, @restaurant) %>
       </h5>
</div>
</div>

<div class="craving-content" style=" padding-top: 12px;">
  <p style="font-size: 13px;"><strong>Other dishes available at <%= @restaurant.name %></strong></p>
  <div class="cards">
    <% @restaurant.dishes.each do |dish| %>
    <%= link_to dish_path(dish) do %>
    <div class="card-category" style="background-image: url(<%= cl_image_path dish.photo %>)">
    </div>
    <% end %>
    <% end %>
  </div>
</div>
</div>

