<div class="craving-dish-search" style="background-image: url(<%= @restaurant.photo %>)">
</div>


<div class="buttons-resto">
  <button class="crave-button-primary" id="button-resto">Book a table</button>
  <button class="crave-button-secondary" id="button-resto">Order in</button>
</div>

<div class="craving-dish-info" style="margin-top: 32px;">
 <div class= "info">
  <h5 class="resto-name"><strong><%= @restaurant.name %> ( <%= @restaurant.price_range %> ) </strong></h5>
  <p><%= @restaurant.address %></p>
  <h5 class="distance-rest"><strong>0.5km</strong></h5>
</div>

<div class= "info">
  <p class="resto-name"><%= @restaurant.average_rating %> <% if @restaurant.average_rating == 5 %>
          <i class="fas fa-star checked"></i><i class="fas fa-star checked"></i><i class="fas fa-star checked"></i><i class="fas fa-star checked"></i><i class="fas fa-star checked"></i>
        <% elsif @restaurant.average_rating == 4 %>
          <i class="fas fa-star checked"></i><i class="fas fa-star checked"></i><i class="fas fa-star checked"></i><i class="fas fa-star checked"></i><i class="fas fa-star"></i>
        <% elsif @restaurant.average_rating == 3 %>
          <i class="fas fa-star checked"></i><i class="fas fa-star checked"></i><i class="fas fa-star checked"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
        <% elsif @restaurant.average_rating == 2 %>
          <i class="fas fa-star checked"></i><i class="fas fa-star checked"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
        <% else %>
           <i class="fas fa-star checked"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
        <% end %>
  </p>
  <div id="map" style="height: 80px; width: 80px; float: right; margin-top: 0px; padding-top: 0px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
</div>

<div class="craving-content" style=" padding-top: 20px;">
  <p style="font-size: 12px;"><strong>Other dishes available at <%= @restaurant.name %></strong></p>
  <div class="cards">
    <% @restaurant.dishes.each do |dish| %>
    <%= link_to dish_path(dish) do %>
    <div class="card-category" style="background-image: url(<%= cl_image_path dish.photo %>)">
      <div id="dish-name">
        <p><%= dish.name %></p>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
</div>

