<div class="craving-dish-search" style="background-image: url(<%= @restaurant.photo %>)">
</div>


<div class="buttons-resto">
  <button class="crave-button-primary" id="button-resto">Book a table</button>
  <button class="crave-button-secondary" id="button-resto">Order in</button>
</div>

<div class="craving-dish-info" style="margin-top: 16px;">
 <div class= "info">
  <p class="resto-name">
    <br>
    <strong><%= @restaurant.name %> ( <%= @restaurant.price_range %> ) </strong></p>
  <p><%= @restaurant.address %></p>
</div>

<div class= "info">
  <p class="resto-rate"><%= @restaurant.average_rating.to_d.round(1, :truncate).to_f %><% if @restaurant.average_rating > 4.7 %>
          <i class="fas fa-star checked"></i><i class="fas fa-star checked"></i><i class="fas fa-star checked"></i><i class="fas fa-star checked"></i><i class="fas fa-star checked"></i>
        <% elsif @restaurant.average_rating > 4.2 %>
          <i class="fas fa-star checked"></i><i class="fas fa-star checked"></i><i class="fas fa-star checked"></i><i class="fas fa-star checked"></i><i class="fas fa-star-half-alt"></i>
        <% elsif @restaurant.average_rating > 3.7 %>
          <i class="fas fa-star checked"></i><i class="fas fa-star checked"></i><i class="fas fa-star checked"></i><i class="fas fa-star checked"></i><i class="far fa-star"></i>
        <% elsif @restaurant.average_rating > 3.2 %>
          <i class="fas fa-star checked"></i><i class="fas fa-star checked"></i><i class="fas fa-star checked"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i>
        <% elsif @restaurant.average_rating > 2.7 %>
          <i class="fas fa-star checked"></i><i class="fas fa-star checked"></i><i class="fas fa-star checked"></i><i class="far fa-star"></i><i class="far fa-star"></i>
        <% elsif @restaurant.average_rating > 2.2 %>
          <i class="fas fa-star checked"></i><i class="fas fa-star checked"></i><i class="fas fa-star-half-alt"></i></i><i class="far fa-star"></i><i class="far fa-star"></i>
        <% elsif @restaurant.average_rating > 1.7 %>
          <i class="fas fa-star checked"></i><i class="fas fa-star checked"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
        <% elsif @restaurant.average_rating > 1.2 %>
          <i class="fas fa-star checked"></i><i class="fas fa-star-half-alt"></i><<i class="far fa-star"></i></i><i class="far fa-star"></i><i class="far fa-star"></i>
        <% else %>
           <i class="fas fa-star checked"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
        <% end %>
  </p>
      <%= image_tag "map.png", align: "right", style: 'height: 40px; width:auto;' %>
      <h5 class="distance-map"><strong>0.5 km</strong></h5>
</div>
</div>

<div class="craving-content" style=" padding-top: 20px;">
  <p style="font-size: 12px;"><strong>Other dishes available at <%= @restaurant.name %></strong></p>
  <div class="cards">
    <% @restaurant.dishes.each do |dish| %>
    <%= link_to dish_path(dish) do %>
    <div class="card-category" style="background-image: url(<%= cl_image_path dish.photo %>)">
    </div>
    <% end %>
    <% end %>
  </div>
</div>

