
<div class="craving-dish-search" style="background-image: url(<%= image_path 'restaurant3.jpg' %>)">
</div>


<div class="craving-dish-info">

  <div class= "info">
   <div class= "info">
    <h5 class= "name">Timesburg  $$</h5>
    <br>
    <p class= "name">Carrer de Pallars, 235, 08005</p>
    <p class="distance-rest">0.5km</p>
  </div>
</div>


<div class= "info" style="">
  <p class="rating" class="fas fa-star checked"></i><i class="fas fa-star checked"></i><i class="fas fa-star checked"></i><i class="fas fa-star checked"></i><i class="fas fa-star checked"></i><i class="fas fa-star "></i></p>
  <div

  id="map"
  style="margin-left: 16px; margin-right: 14px; margin-top: 18px; height: 90px; width: 90px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
</div>
</div>

<div class="craving-content"
  <div class="cards">
    <div class="card-category" style="background-image: url(<%= image_path 'pizza.jpg' %>)">
      Breakfast
    </div>
    <div class="card-category" style="background-image: url(<%= image_path 'pizza.jpg' %>)">
      Breakfast
    </div>
    <div class="card-category" style="background-image: url(<%= image_path 'pizza.jpg' %>)">
      Breakfast
    </div>
    <div class="card-category" style="background-image: url(<%= image_path 'pizza.jpg' %>)">
      Breakfast
    </div>
    <div class="card-category" style="background-image: url(<%= image_path 'pizza.jpg' %>)">
      Breakfast
    </div>
    <div class="card-category" style="background-image: url(<%= image_path 'pizza.jpg' %>)">
      Breakfast
    </div>
    <div class="card-category" style="background-image: url(<%= image_path 'pizza.jpg' %>)">
      Breakfast
    </div>
    <div class="card-category" style="background-image: url(<%= image_path 'pizza.jpg' %>)">
      Breakfast
    </div>
    <div class="card-category" style="background-image: url(<%= image_path 'pizza.jpg' %>)">
      Breakfast
    </div>
    </div>

  </div>

</div>
</div>


