<div class="craving-dish-search resto-rate-container" style="background-image: url(<%= cl_image_path @restaurant.photo %>)">
    <p><strong><%= @restaurant.average_rating.to_d.round(1, :truncate).to_f %></strong>
      <%= render 'dishes/rating', rating: @restaurant.average_rating %>
    </p>
</div>

<div class="buttons-resto">
  <button class="crave-button-primary" id="button-resto">Book a table</button>
  <button class="crave-button-secondary" id="button-resto">Order in</button>
</div>

<div class="craving-dish-info" style="margin-top: 32px;">
  <div class="info">
  <p class="resto-name"><strong><%= @restaurant.name %></strong></p>
  <p><%= @restaurant.address %></p>
  </div>
<div class= "info">
  <p class="resto-name"><strong><%= @restaurant.price_range %></strong></p>
       <h5 class="distance">
              <%= distance_to_user(@user_location, @restaurant) %>
       </h5>
</div>
</div>

<div class="craving-content" style=" padding-top: 12px;">
  <p style="font-size: 13px;"><strong>Other dishes available at <%= @restaurant.name %></strong></p>
  <div class="cards">
    <% @restaurant.dishes.each do |dish| %>
    <%= link_to dish_path(dish) do %>
    <div class="card-category" style="background-image: url(<%= cl_image_path dish.photo %>)">
    </div>
    <% end %>
    <% end %>
  </div>
</div>

