<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%#= render 'shared/flashes' %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <!--CARD (search by dish)-->
    <div class="craving-dish-card">
      <img src="https://res.cloudinary.com/mike-asher/image/upload/v1558709001/uevbqv2dspp4qkryg98c.png">
      <!--CARD (info of one dish)-->
      <div class="craving-card-info">
        <div>
          <h1>Osaka Burger</h1>
          <h2>Timesburg</h2>
        </div>
      </div>
    </div>


  </body>
</html>
